@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditBlog";
    Layout = "~/Views/Shared/_CreateLayout.cshtml";
}


<h2>Blog Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading", "BlogDesign", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık ID")
    @Html.TextBoxFor(x => x.HeadingID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar ID")
    @Html.DropDownListFor(x => x.BloggerID, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.HeadingDescription, new { @class = "form-control" })

    <br />
    @Html.Label("Görsel URL")
    @Html.TextBoxFor(x => x.HeadingImage, new { @class = "form-control" })

    <button class="btn btn-success">Güncelle</button>
</div>
}